<%- include("header") -%>

<div class="about-content">
  <h2>About Us</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at est et arcu tristique tristique. Vivamus vehicula nunc id venenatis. Nullam sit amet tincidunt purus, et ultricies odio. Donec a nulla ut enim interdum vehicula. Quisque gravida eu elit sit amet bibendum. Nulla facilisi. Vestibulum quis arcu a tortor varius convallis et in ligula.</p>

  <p>Suspendisse potenti. Sed congue libero sit amet vehicula. Nunc in metus ac ex efficitur eleifend. Fusce vehicula odio nec est fermentum, eu consectetur arcu rhoncus. Sed dignissim, eros eu scelerisque tempor, felis neque malesuada purus, id cursus justo dui nec orci. Nulla facilisi.</p>
</div>

<%- include("footer") -%>
